
  /* MAIN VIDEO CAROUSEL START */

  #hero3CarouselItem1,
  #hero3CarouselItem2 {
    height: 100vh;
  }
  
  #hero3CarouselOptions {
    max-width: 100vw;
  }
  
  #hero3CarouselPrev:hover {
    opacity: 1;
  }
  #hero3CarouselPrev:hover #hero3-stack-prev {
    color: var(--dark);
    opacity: 1;
  }
  #hero3CarouselPrev:hover #hero3-arrow-prev {
    color: var(--light);
    opacity: 1;
  }
  
  #hero3CarouselPrev {
    opacity: 0.5;
    width: 3rem;
  }
  
  #hero3-stack-prev {
    color: var(--light);
    opacity: 0.5;
  }
  
  #hero3-arrow-prev {
    color: var(--dark);
    opacity: 0.5;
  }
  
  #hero3CarouselNext:hover {
    opacity: 1;
  }
  #hero3CarouselNext:hover #hero3-stack-next {
    color: var(--dark);
    opacity: 1;
  }
  #hero3CarouselNext:hover #hero3-arrow-next {
    color: var(--light);
    opacity: 1;
  }
  
  #hero3CarouselNext {
    opacity: 0.5;
    width: 3rem;
  }
  
  #hero3-stack-next {
    color: var(--light);
    opacity: 0.5;
  }
  
  #hero3-arrow-next {
    color: var(--dark);
    opacity: 0.5;
  }
  
  .hero3__group1 {
    height: 100%;
    max-width: 100%;
    width: 100%;
  }
  
  .hero3__images1 {
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
    -o-object-position: center;
       object-position: center;
  }
  
  .hero3__img-front1 {
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
    opacity: 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    justify-content: center;
    align-items: center;
  }
  
  .hero3__video-front1 {
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    -o-object-fit: fill;
       object-fit: fill;
    -o-object-position: center;
       object-position: center;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
  
  .hero3__content-container1--aligned-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 1rem;
  }
  .hero3__content-container1--aligned-left .hero3__title1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-left .hero3__paragraph1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-left .hero3__info1 {
    justify-content: center;
  }
  
  .hero3__content-container1--aligned-middle-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 15rem;
  }
  .hero3__content-container1--aligned-middle-left .hero3__title1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-middle-left .hero3__paragraph1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-middle-left .hero3__info1 {
    justify-content: center;
  }
  
  .hero3__content-container1--aligned-right {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 1rem;
  }
  .hero3__content-container1--aligned-right .hero3__title1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-right .hero3__paragraph1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-right .hero3__info1 {
    justify-content: center;
  }
  
  .hero3__content-container1--aligned-center {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 1rem;
  }
  .hero3__content-container1--aligned-center .hero3__title1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-center .hero3__paragraph1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-center .hero3__info1 {
    justify-content: center;
  }
  
  .hero3__content-container1--aligned-middle-right {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 15rem;
  }
  .hero3__content-container1--aligned-middle-right .hero3__title1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-middle-right .hero3__paragraph1 {
    text-align: center;
  }
  .hero3__content-container1--aligned-middle-right .hero3__info1 {
    justify-content: center;
  }
  
  .hero3__title1 {
    width: 15rem;
    font-size: 2rem;
    font-family: "Bebas Neue", "cursive";
    color: var(--dark);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .hero3__title1--sm {
    font-size: 2rem;
  }
  .hero3__title1--md {
    font-size: 3rem;
  }
  .hero3__title1--lg {
    font-size: 4.5rem;
  }
  .hero3__title1--xl {
    font-size: 6rem;
  }
  
  .hero3__info1 {
    max-width: 25rem;
    width: 15rem;
    display: flex;
    flex-direction: center;
  }
  
  .hero3__paragraph1 {
    color: var(--dark);
    margin-bottom: 1rem;
    width: 15rem;
    font-size: 1rem;
  }
  
  .hero3__button1 {
    padding: 1rem 2rem;
    text-align: center;
    width: 10rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    border: 2px double var(--light);
    color: var(--light);
    background-color: var(--dark);
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .hero3__button1:hover {
    background: var(--light);
    color: var(--dark);
    border: 2px double var(--dark);
    opacity: 1;
  }
  
  .hero3__group2 {
    height: 100%;
    max-width: 100%;
    width: 100%;
  }
  
  .hero3__images2 {
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
    -o-object-position: center;
       object-position: center;
  }
  
  .hero3__img-front2 {
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
    opacity: 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    justify-content: center;
    align-items: center;
  }
  
  .hero3__video-front2 {
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    -o-object-fit: fill;
       object-fit: fill;
    -o-object-position: center;
       object-position: center;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
  
  .hero3__content-container2--aligned-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 1rem;
  }
  .hero3__content-container2--aligned-left .hero3__title2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-left .hero3__paragraph2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-left .hero3__info2 {
    justify-content: center;
  }
  
  .hero3__content-container2--aligned-middle-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 10rem;
  }
  .hero3__content-container2--aligned-middle-left .hero3__title2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-middle-left .hero3__paragraph2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-middle-left .hero3__info2 {
    justify-content: center;
  }
  
  .hero3__content-container2--aligned-right {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 1rem;
  }
  .hero3__content-container2--aligned-right .hero3__title2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-right .hero3__paragraph2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-right .hero3__info2 {
    justify-content: center;
  }
  
  .hero3__content-container2--aligned-center {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 1rem;
  }
  .hero3__content-container2--aligned-center .hero3__title2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-center .hero3__paragraph2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-center .hero3__info2 {
    justify-content: center;
  }
  
  .hero3__content-container2--aligned-middle-right {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 3rem 10rem;
  }
  .hero3__content-container2--aligned-middle-right .hero3__title2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-middle-right .hero3__paragraph2 {
    text-align: center;
  }
  .hero3__content-container2--aligned-middle-right .hero3__info2 {
    justify-content: center;
  }
  
  /* .hero3__title2 {
    width: 15rem;
    font-size: 2rem;
    font-family: "Bebas Neue", "cursive";
    color: var(--dark);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  .hero3__title2--sm {
    font-size: 2rem;
  }
  .hero3__title2--md {
    font-size: 3rem;
  }
  .hero3__title2--lg {
    font-size: 4.5rem;
  }
  .hero3__title2--xl {
    font-size: 6rem;
  } */
  
  .hero3__info2 {
    max-width: 25rem;
    width: 15rem;
    display: flex;
    flex-direction: center;
  }
  
  .hero3__paragraph2 {
    color: var(--dark);
    margin-bottom: 1rem;
    width: 15rem;
    font-size: 1rem;
  }
  
  .hero3__button2 {
    padding: 1rem 2rem;
    text-align: center;
    width: 10rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    border: 2px double var(--light);
    color: var(--light);
    background-color: var(--dark);
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .hero3__button2:hover {
    background: var(--light);
    color: var(--dark);
    border: 2px double var(--dark);
    opacity: 1;
  }
  
  @media only screen and (max-width: 36em) {
    #hero3CarouselItem1,
    #hero3CarouselItem2 {
      height: 50vh;
    }
    .hero3__content-container1--aligned-right {
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container1--aligned-left {
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container1--aligned-center {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container1--aligned-middle-right {
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container1--aligned-middle-left {
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container2--aligned-right {
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container2--aligned-left {
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container2--aligned-center {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container2--aligned-middle-right {
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__content-container2--aligned-middle-left {
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding: 3rem 1rem;
    }
    .hero3__title1,
    .hero3__title2 {
      font-size: 1.1rem;
      width: 12rem;
      text-align: center;
    }
    .hero3__paragraph1,
    .hero3__paragraph2 {
      font-size: 0.8rem;
      width: 12rem;
    }
    .hero3__info1,
    .hero3__info2 {
      width: 12rem;
    }
  }
  @media only screen and (min-width: 36em) and (max-width: 48em) {
    #hero3CarouselItem1,
    #hero3CarouselItem2 {
      height: 75vh;
    }
    .hero3__title1,
    .hero3__title2 {
      font-size: 1.5rem;
      width: 15rem;
    }
    .hero3__paragraph1,
    .hero3__paragraph2 {
      width: 15rem;
    }
    .hero3__info1,
    .hero3__info2 {
      width: 15rem;
    }
    .hero3__content-container1--aligned-right,
    .hero3__content-container1--aligned-left,
    .hero3__content-container1--aligned-middle-left,
    .hero3__content-container1--aligned-middle-right,
    .hero3__content-container1--aligned-center {
      padding: 3rem 1rem;
    }
    .hero3__content-container2--aligned-right,
    .hero3__content-container2--aligned-left,
    .hero3__content-container2--aligned-middle-left,
    .hero3__content-container2--aligned-middle-right,
    .hero3__content-container2--aligned-center {
      padding: 3rem 1rem;
    }
  }
  @media only screen and (min-width: 48em) and (max-width: 62em) {
    #hero3CarouselItem1,
    #hero3CarouselItem2 {
      height: 100vh;
    }
    .hero3__content-container1--aligned-middle-left,
    .hero3__content-container1--aligned-middle-right {
      padding: 3rem 5rem;
    }
    .hero3__content-container2--aligned-middle-left,
    .hero3__content-container2--aligned-middle-right {
      padding: 3rem 5rem;
    }
  }/*# sourceMappingURL=Hero3.css.map */

  /* MAIN VIDEO CAROUSEL END */